<?xml version="1.0"?>
<config>
    <modules>
        <JTT_Tagove>
            <version>0.0.1</version>
        </JTT_Tagove>
    </modules>
    <global>
        <blocks>
            <tagove>
                <class>JTT_Tagove_Block</class>
            </tagove>
        </blocks>
        <helpers>
            <tagove>
                <class>JTT_Tagove_Helper</class>
            </tagove>
        </helpers>
        <models>
            <tagove>
                <class>JTT_Tagove_Model</class>
            </tagove>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <tagove>
                    <file>tagove.xml</file>
                </tagove>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tagove_options>
                                            <title>JTT Tagove Section</title>
                                        </tagove_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>