<?xml version="1.0"?>
<config>
    <tabs>
        <tagove translate="label" module="tagove">
            <label>Tagove</label>
            <sort_order>1</sort_order>
        </tagove>
    </tabs>

    <sections>



        <tagove_options translate="label" module="tagove">
            <label>Setting</label>
            <tab>tagove</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>

                <jtt_tagove_enabled translate="label">
                    <label>Status</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <tagove_status>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tagove_status>
                    </fields>
                </jtt_tagove_enabled>



                <jtt_tagove translate="label">
                    <label>Add Tagove script code to access chat widget</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <tagove_widget_code>
                            <label>Widget Script Code</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Paste your Tagove widget code here. Please check <a href="https://www.tagove.com/help-docs/" target="_blank">here</a> and <b>Widget configuration</b>.]]></comment>
                        </tagove_widget_code>
                    </fields>
                </jtt_tagove>
            </groups>
        </tagove_options>
    </sections>
</config>